@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;600;700;900&display=swap");

@font-face {
  font-family: "Aurebesh";
  src: url("../fonts/Aurebesh.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Itim";
  src: url("../fonts/Itim.ttf");
  font-weight: 400;
  font-style: normal;
}
